.organic__left {
    width: 500px;
}
.organic {
    max-width: 1235px;
    margin: 0 auto;
    margin-top: 160px;
}

.Food h2 {
    color: rgb(21, 20, 20);
font-size: 54px;
font-weight: 770;
line-height: 68px;
margin-bottom: 30px;
letter-spacing: 0%;
text-align: left;
}
.Food p {
    color: rgb(24, 29, 25);
font-size: 22px;
font-weight: 300;
width: 500px;
line-height: 34px;
letter-spacing: 0%;
}
.Food h4 {
    color: rgb(24, 29, 25);
font-size: 20px;
font-weight: 350;
line-height: 25px;
letter-spacing: 0%;
text-align: left;
}
.Food ul {
    margin-top: 30px;
}
.Food button {
    border-radius: 50px;
    background: linear-gradient(180.00deg, rgb(100, 187, 71),rgb(44, 149, 83) 100%);
    width: 210px;
    height: 64px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    border: none;
    text-align: center;
    margin-top: 68px;
}
.Food button:hover {
    border-radius: 50px;
    background: linear-gradient(180.00deg, rgb(44, 149, 83),rgb(100, 187, 71) 100%);
    width: 210px;
    height: 64px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    border: none;
    text-align: center;
    margin-top: 68px;
}